<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs %>

    <h3><%= title %></h3>

    <p>Hi my name is <%= name %>, I knew that I'm cute so you don't need to remind me that.</p>

</body>
</html>